name: crypto_alert
description: "Aplicativo Flutter para monitoramento de preço do Bitcoin em tempo real"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.1.0
  intl: ^0.18.1
  
  # Anúncios
  google_mobile_ads: ^5.1.0
  
  # Compras in-app (SDK nativo)
  in_app_purchase: ^3.2.0
  
  # Persistência local
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
